@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: linear-gradient(45deg, #7428ad, #c25fe2);
  width: 100vw;
  height: 100vh;
}

header {
  padding: 3rem;
  margin-bottom: .5rem;
  text-align: center;
}

header h1 {
  padding-bottom: 3rem;
  color: white;
}

input {
  margin: 0;
  border: none;
  width: 70%;
  padding: .6rem;
  font-size: 1rem;
  outline: none;
  background-color: #fffefd;
  color: #7428ad;
}

input::placeholder {
  color: #c87be2;
}

button {
  padding: .6rem;
  width: 25%;
  background-image: linear-gradient(45deg, #fc5ca9, #f3b29a);
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all .5s;

}

button:active{
  transform: scale(.98);
}

section#tasks {
  margin: .5rem ;
} 


ul {
  list-style: none;
  padding: 0 3.rem;
}

ul li {
  position: relative;
  padding: 0 2rem 0 1rem;
  background-color: white;
  color: #ccc;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  margin-bottom: .8rem;

}

ul li a {
  text-decoration: none;
}

ul li span{
  color: #c87be2;
  font-style: italic;
  font-size: .8rem;
  padding-left: 1rem;
}

ul li div{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


ul li:hover {
  background-color: #f2e3f7;
  box-shadow: 0 0px 10px 0 #7428ad;

}

small {
  padding: .2rem .5rem;
  font-size: .8rem;
  align-items: center;
  background-color: #7428ad;
  color: white;
  margin-left: 1rem;
}

a.btnUpdate {
  background-color: #f5beaa;
  color: white;
  text-decoration: none;
  padding: .8rem 1.5rem;
  transition: all .3s ease-in-out;
}

a.btnUpdate:hover {
  background-color: #f3b29a;
}

a.btnDelete {
  background-color: #f868ae;
  color: white;
  text-decoration: none;
  padding: .8rem 1.5rem;
  transition: all .3s ease-in-out;
}

a.btnDelete:hover {
  background-color: #fc5ca9;
}


#modal {
  max-width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: .8rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 0px 30px 2px #7428ad;
  color: #7428ad;
}

#card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card div a i {
  font-size: 2rem;
  color: #ccc;
  transition: all .3 ease-in-out;
}

#card div a i:hover{
  color: rgb(153, 152, 152);
}
#buttonsModal {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
#btnNot {
  padding: .3rem 4rem;
  background-color: #fc5ca9;
  color: white;
  text-decoration: none;
}

#btnYes {
  padding: .3rem 4rem;
  background-color: #7428ad;
  color: white;
  text-decoration: none;
}

hr {
  margin-top: .5rem;
  margin-bottom: 1.2rem;
}
