@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: linear-gradient(45deg, #7428ad, #c25fe2);
  width: 100vw;
  height: 100vh;
}

header {
  padding: 3rem;
  margin-bottom: .5rem;
  text-align: center;
}

@media  (max-width:500px) {
  header {
    padding: 1rem;
  }
}

header h1 {
  padding-bottom: 3rem;
  color: white;
}

header form {
  display: flex;
  gap: 8px;
}

input {
  margin: 0;
  border: none;
  width: 75%;
  padding: .6rem;
  font-size: 1rem;
  outline: none;
  background-color: #fffefd;
  color: #7428ad;
}

input::placeholder {
  color: #c87be2;
}

button {
  padding: .6rem;
  width: 25%;
  background-image: linear-gradient(45deg, #fc5ca9, #f3b29a);
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all .3s;
}

button:hover{
  box-shadow: 0 0px 10px 0 #7428ad;
}

section#tasks {
  margin: .5rem ;
} 


ul {
  list-style: none;
  padding: 0 3.rem;
}

ul li {
  position: relative;
  padding: 0 2rem 0 1rem;
  background-color: white;
  color: #ccc;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  margin-bottom: .8rem;

}

ul li a {
  text-decoration: none;
  color: #7428ad;
  padding-left: 1.8rem;
}

ul li span{
  color: #c87be2;
  font-style: italic;
  font-size: .8rem;
  padding-left: 1rem;
}

ul li div{
  display: flex;
  align-items: center;
}


ul li:hover {
  background-color: #f2e3f7;
  box-shadow: 0 0px 10px 0 #7428ad;
}

small {
  padding: .2rem .5rem;
  font-size: .8rem;
  align-items: center;
  background-color: #7428ad;
  color: white;
  margin-left: 1rem;
}

a.btnUpdate {
  background-color: #f5beaa;
  color: white;
  text-decoration: none;
  padding: .8rem 1.5rem;
  transition: all .3s ease-in-out;
}

a.btnUpdate:hover {
  background-color: #f3b29a;
}

a.btnDelete {
  background-color: #f868ae;
  color: white;
  text-decoration: none;
  padding: .8rem 1.5rem;
  transition: all .3s ease-in-out;
}

a.btnDelete:hover {
  background-color: #fc5ca9;
}


#modal {
  max-width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: .8rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 0px 30px 2px #7428ad;
  color: #7428ad;
}

#card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card div a i {
  font-size: 2rem;
  color: #ccc;
  transition: all .3 ease-in-out;
}

#card div a i:hover{
  color: rgb(153, 152, 152);
}
#buttonsModal {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
#btnNot {
  padding: .3rem 4rem;
  background-color: #fc5ca9;
  color: white;
  text-decoration: none;
}

#btnYes {
  padding: .3rem 4rem;
  background-color: #7428ad;
  color: white;
  text-decoration: none;
}

hr {
  margin-top: .5rem;
  margin-bottom: 1.2rem;
}


.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2rem 1rem;
  position: sticky;
  top: 0;
  font-size: 1.1rem;
  font-weight: 600;
  width: auto;
  z-index: 9999;
}


.message-danger {
  background-color: rgb(255, 197, 197);
  color: #8a0000;
}

.message-success {
  background-color: rgb(197, 255, 214);
  color: #008a1e;
}


span#close-message {
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
}

span#close-message:hover { 
  color: rgb(255, 0, 0);
}

ul li.check-true {
  background-color: #e0e0e0;
  color: white;
  text-decoration: line-through;
}

ul li a.check-true::before {
  content: "";
  position: absolute;
  border: #7428ad solid;
  top: 17px;
  left: 16px;
  height: 15px;
  width: 7px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  cursor: pointer;
}

ul li a.check-false::before {
  content: "";
  position: absolute;
  border: #7428ad solid;
  top: 19px;
  left: 16px;
  height: 13px;
  width: 13px;
  border-width: 2px;
  cursor: pointer;
}


@media  (max-width:500px) {
  small {
    padding: .1rem .3rem;
    font-size: .6rem;
  }
  
  #btnNot {
    padding: .2rem 2rem;
  }
  
  #btnYes {
    padding: .2rem 2rem;
  }
}
